@model IEnumerable<MVC_users.Models.Usuarios>
@{
    ViewData["Title"] = "Usuarios";
}
<p>
    <a asp-action="Create" class="glyphicon glyphicon-plus">Crear Usuario</a>
</p>
<div class="text-center">
    <h1 class="display-4">Tabla Usuarios</h1>
   
</div>

<div style="text-align:center;"  >
@if(Model!=null)
{


    <table border="1" style="border-spacing:0;border-collapse:collapse;width:70%;margin:auto">
        <tr>
            <th>ID</th>
              <th>Usuario</th>
                <th>Nombre</th>
                  <th>Pass</th>
                   
                  <th>rol</th>
                  <th>Acciones</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Userid
                    </td>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Pass
                    </td>
                    <td>
              // @item. Nombrerol
                    </td>
                     <td  >
                <a asp-action="Edit" asp-route-id="@item.Id"  class="glyphicon glyphicon-pencil"></a> |
             
                <a asp-action="Delete" asp-route-id="@item.Id" class="glyphicon glyphicon-remove"></a>
            </td>
                </tr>
            }
        </tbody>
    </table>
}
</div>